body{
    padding: 0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    height: auto;
    margin-top: -13vh;
    text-align: center;
    justify-content: center;
}
#contract{
    width:100%;
    max-height: 80vh;
    border-radius: 0px 0px 70px 70px;
    z-index: -1;
    display: flex;
    margin: 0;

}
.headerPai{
    width:100%;
    height:12vh;
    position: relative;
    z-index: 1;
    background-color: none;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.logo{
    width:30%;
    height:100%;
    color:#8f764c;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 30vw;
    height: 7vh;
    margin-top: 4vh;
    margin-left:0vh;
    margin-right: 10vw;
}
.navContato{
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 4vh;
    flex-grow: 0.1;
}
#wpp1{
    color:#8f764c;
    font-size:2.1rem;
    margin-top: 1.6vh;
    margin-right: 0vw;

} 

#phoneNumber{
    color: white;
    font-size: 1.5rem;
}

#carta{
    color:#8f764c;  
    font-size:1.9rem;
    margin-top: 1.6vh;
   
}
#email{
    color: white;
    font-size: 1.2rem;
    margin-top: 2vh;
} 
#firtstexts{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: 1.2vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    position: relative;
    bottom:50vh;
}
#copy1{
    font-size: 3.7rem;
    color: white;
    margin:0;
}
#prev{
    color:#a77b31;
}

#copy2{
    color: #FFFFFF;
    font-size:2.5rem;
}
#callToAction{
    font-size: 1.5rem;
    padding:1.5rem;
    border-radius: 2rem;
    border:none;
    background-color: #009F16;
    color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px white;
}

.services{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 2vh;
    background: #FFFFFF;
    border:none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-left: 2vw;
    position: relative;
    bottom: 25vh;
}
.services > div{
    flex: 1 1 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#userIcon{
    background-color: #2A2A2A;
    padding: 12px;
    color: #FFFFFF;
    font-size: 19px;
    text-align:center;
    align-items: center;
    border-radius:40px;
}
#card1{
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}
#card2{
    background-color:white;
    text-align: center;
}
#card3{
    display: flex;
    margin-bottom: 1vh;
    text-align: center;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}
#TxtCard1{
    font-size: 18px;
    color: #54595f;
   
}
#copy1Card1{
    font-size: 15px;
    color: #54595f;
  
}

#TxtCard2{
    font-size: 18px;
    color: #54595f;
    
}
#copy2card2{
    font-size: 15px;
    color: #54595f;
}
#balanceIcon{
    background-color: #2A2A2A;
    padding: 12px;
    border-radius:40px;
    color: #FFFFFF;
    font-size: 19px;
    text-align:center;
    align-items: center;
}  
#TxtCard3{
    font-size: 18px;
    color: #54595f;
}
#copy3card3{
    font-size: 15px;
    
    color: #54595f;
}
#medalha{
    background-color: #2A2A2A;
    padding: 12px;
    border-radius:40px;
    color: #FFFFFF;
    font-size: 19px;
    text-align:center;
    align-items: center;
   
}   

@media (max-width: 376px) {
}

@media (max-width: 414px) {
    
}

@media (max-width: 600px){
    
}

@media (max-width: 650px){
    
}

@media (max-width: 750px){
    
    .logo{
        width:50%;
        height:100%;
        color:#8f764c;
        display: flex;
        justify-content: center;
    }
    .logo img{
        width: 24vw;
        height: 5vh;
        margin-top: 4vh;
        margin-left:0vh;
        margin-right: 10vw;
    }
    .navContato{
        height:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-around; 
        margin-top: 4vh;
        flex-grow: 0.2;
    }
    #wpp1{
        color:#8f764c;
        font-size:1.8rem;
        margin-top: 1.6vh;
        margin-right: 0vw;
    
    } 
    
    #phoneNumber{
        color: white;
        font-size: 1.1rem;
        margin-top: 2vh;
    }
    
    #carta{
        color:#8f764c;  
        font-size:1.5rem;
        margin-top: 1.9vh;
       
    }
    #email{
        color: white;
        font-size: 1rem;
        margin-top: 2.1vh;
    } 
    #firtstexts{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    #copy1{
        font-size: 2.8rem;
        color: white;
        margin:2vh;
    }
    #copy2{
        color: #FFFFFF;
        font-size:1.5rem;
        margin:2vh;
    }
    #callToAction{
        font-size: 1rem;
        padding:1.5rem;
        border-radius: 2rem;
        border:none;
        background-color: #009F16;
        color: #FFFFFF;
        box-shadow: 0px 0px 10px 0px white;
        margin:2vh;
    }
    .services{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        background: #FFFFFF;
        
    }
    .services > div{
        
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
}

